.grid-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16.5rem, 1fr));
  gap: 1.5rem;
  padding: 1.5rem;
}

.grid-tile {
  display: flex;
  flex-direction: column;
  max-width: 28rem;
}

.product-card {
  display: flex;
  flex-grow: 1;
  background: #f9f9f9;
  border: 1px solid #ddd;
  padding: 0 .8rem;
  gap: .8rem;
  box-sizing: border-box;
  justify-content: space-between;  
}

.cart-action-buttons {
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(70, 131, 180, 0.5);
    border-radius: 4px;
    overflow: hidden;
}

.cart-action-button {
    background: inherit;
    box-shadow: none;
    border-radius: 0;
    color: white;
}

.cart-product-qty {
    margin: 0 1rem;
    color: rgba(0, 0, 0, 0.966);
}

