<nav class="bg-white fixed w-full z-20 top-0 start-0 border-b border-gray-200">
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
  >
    <a
      href="https://flowbite.com/"
      class="flex items-center space-x-3 rtl:space-x-reverse"
    >
      <img
        src="https://flowbite.com/docs/images/logo.svg"
        class="h-8"
        alt="Flowbite Logo"
      />
      <span class="self-center text-2xl font-semibold whitespace-nowrap"
        >W-Bytes</span
      >
    </a>
    <div class="items-center justify-between flex w-auto" id="navbar-sticky">
      <ul
        class="flex gap-4 p-0 mt-4 font-medium border-gray-100 rounded-lg space-x-8 space-x-reverse flex-row border-0 bg-white"
      >
        <li>
          <a
            routerLink="/home"
            routerLinkActive="active"
            class="block text-gray-900 hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:dark:hover:text-blue-500"
            >Home</a
          >
        </li>
        <li>
          <a
            routerLink="/user/post"
            routerLinkActive="active"
            class="block text-gray-900 hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:dark:hover:text-blue-500"
            >My Posts</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
