<header>
  <div class="header-content container">
    <div class="brand">
      <i class="fas fa-shopping-bag brand-icon"></i>
      <h1 class="brand-name">ShopEasy</h1>
    </div>
    <!-- Cart Button -->
    <div class="nav-buttons">
      <button routerLink="/home" mat-flat-button>
        <mat-icon>home</mat-icon> Home
      </button>
      <button routerLink="/products" mat-flat-button>
        <mat-icon>store</mat-icon>Products
      </button>
    </div>
  </div>
</header>
<div class="container">
  @if (isProductAdded) {
  <button
    mat-button
    mat-raised-button
    (click)="openDialog()"
    [matBadge]="totalItems"
    class="view-cart-button"
  >
    <mat-icon>add_shopping_cart</mat-icon>
    View cart
  </button>
  }
  <router-outlet />
  <!-- <app-product-listing /> -->
</div>
