<div class="relative pl-10 py-3">
  <div class="flex items-start space-x-3">
    <img
      [src]="`https://randomuser.me/api/portraits/men/${comment().userId}.jpg`"
      alt="Profile"
      class="w-8 h-8 rounded-full object-cover"
    />
    <div class="flex-1 flex gap-2">
      <div class="grow">
        <div class="flex items-center space-x-2">
          <span class="font-semibold text-sm">{{ comment().name }}</span>
        </div>
        @if(isEditing){
        <input
          type="text"
          placeholder="Add a comment..."
          (keyup.enter)="emit()"
          [(ngModel)]="text"
          class="w-full bg-gray-100 rounded-full py-2 px-4 focus:outline-none comment-box"
        />
        }@else{
        <p class="text-sm mt-1">
          {{ comment().body }}
        </p>
        }
      </div>
      <button (click)="onCommentEditMode()">
        <i
          class="fa fa-pen text-green-600 hover:bg-gray-200 p-2 rounded-md"
          aria-hidden="true"
        ></i>
      </button>
      <button (click)="onCommentDelete(comment().id)">
        <i
          class="fa fa-trash text-red-600 hover:bg-gray-200 p-2 rounded-md"
          aria-hidden="true"
        ></i>
      </button>
    </div>
  </div>
</div>
