<mat-card class="cart-card">
  <mat-card-header>
    <mat-card-title>Cart</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    @for (product of cartProducts; track product) {
    <div class="card-product-info">
      <p>{{ product.name }}</p>
      <p>{{ product.price | currency : "USD" : "symbol" : "2.2" }}</p>
    </div>
    <p>
      <img
        mat-card-image
        class="card-image"
        [src]="product.image"
        [alt]="product.name + 'image'"
      />
    </p>
    <div class="cart-action-buttons">
      <!-- <span> -->
      @if(productCountIoCart(product.productId)){
      <button
        mat-mini-fab
        class="cart-action-button"
        (click)="onRemoveFromCart(product.productId)"
      >
        <mat-icon>remove</mat-icon>
      </button>
      } @if(productCountIoCart(product.productId)){
      <span class="cart-product-qty">
        {{ productCountIoCart(product.productId) }}
      </span>
      } @if(productCountIoCart(product.productId)){
      <button
        mat-mini-fab
        class="cart-action-button"
        (click)="onAddToCart(product.productId)"
      >
        <mat-icon>add</mat-icon>
      </button>
      } @if (!productCountIoCart(product.productId)) {
      <button
        mat-button
        class="cart-action-button"
        (click)="onAddToCart(product.productId)"
      >
        Add to Cart
      </button>
      }
    </div>
    }
  </mat-card-content>
</mat-card>
