<mat-card class="cart-card">
  @if(!(cartProducts.length > 0)){
  <p class="empty-cart-msg">No Product added to cart.</p>
  }@else {
  <!-- <p class="empty-cart-msg">No Product added to cart.</p> -->

  <mat-tab-group
    [selectedIndex]="selectedIndex"
    (selectedIndexChange)="selectedIndex = $event"
    animationDuration="0ms"
    mat-stretch-tabs="false"
    mat-align-tabs="center"
    class="cart-content"
  >
    <mat-card-content>
      <mat-tab label="Cart">
        @for (product of cartProducts; track product) {
        <div>
          <div class="card-product-header">
            <p>{{ product.name }}</p>
            <p>{{ product.price | currency : "USD" : "symbol" : "2.2" }}</p>
          </div>
          <div class="cart-product-body">
            <p>
              <img
                mat-card-image
                class="card-image"
                [src]="product.image"
                [alt]="product.name + 'image'"
              />
            </p>
            <div>
              <div class="cart-action-buttons">
                <!-- <span> -->
                @if(productCountIoCart(product.productId)){
                <button
                  mat-mini-fab
                  class="cart-action-button"
                  (click)="onRemoveFromCart(product.productId)"
                >
                  <mat-icon>remove</mat-icon>
                </button>
                } @if(productCountIoCart(product.productId)){
                <span class="cart-product-qty">
                  {{ productCountIoCart(product.productId) }}
                </span>
                } @if(productCountIoCart(product.productId)){
                <button
                  mat-mini-fab
                  class="cart-action-button"
                  (click)="onAddToCart(product.productId)"
                >
                  <mat-icon>add</mat-icon>
                </button>
                } @if (!productCountIoCart(product.productId)) {
                <button
                  mat-button
                  class="cart-action-button"
                  (click)="onAddToCart(product.productId)"
                >
                  Add to Cart
                </button>
                }
              </div>
            </div>
          </div>
        </div>
        <mat-divider class="divider"> </mat-divider>
        }
      </mat-tab>
      <mat-tab label="Checkout">
        <div class="coupon">
          <mat-form-field >
            <input
              [formControl]="couponCodeInput"
              matInput
              placeholder="Enter coupon"
              class="coupon-input"
            />
            @if (couponCodeInput.hasError('noCouponFound')) {
            <mat-error>No coupon Found</mat-error>
            }
          </mat-form-field>
          <button mat-button (click)="onApplyCoupon()">Apply</button>
        </div>
      </mat-tab>
    </mat-card-content>
  </mat-tab-group>
  <mat-dialog-actions class="cart-footer">
    <p class="total">
      Total:
      <span [ngClass]="{ 'discount-applied': cartDiscountedAmount !== null }">{{
        cartTotalAmount | currency : "USD" : "symbol" : "2.2"
      }}</span>
      @if(cartDiscountedAmount !== null){
      <span>{{
        cartDiscountedAmount | currency : "USD" : "symbol" : "2.2"
      }}</span>
      }
    </p>
    @if(selectedIndex === 0){
    <button mat-button (click)="onCheckoutDialog()">
      <mat-icon>add_shopping_cart</mat-icon>
      Checkout
    </button>
    } </mat-dialog-actions
  >}
</mat-card>
